.component {
  padding: 2rem;
  .container-fluid {
    max-width: $xl;
    margin: 0 auto;
  }

  // Global 'card deck' (cards, images, rows of things)
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    .card {
      flex: 0 1 100%;
      margin-bottom: 1rem;
      @include media-breakpoint-up(md){
        margin-bottom: 1.5rem;
      }
      .card-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 200px;
        @include media-breakpoint-up(sm) {
          min-height: 250px;
        }
        @include media-breakpoint-up(md){
          min-height: 300px;
        }
      }
    }

    // Per row classes
    &.one-per-row {
      .card {
        @include media-breakpoint-up(lg) {
          flex: 0 1 100%;
        }
      }
    }
    &.two-per-row {
      .card {
        @include media-breakpoint-up(md) {
          flex: 0 1 48%;
        }
        .card-image {
          min-height: 200px;
          @include media-breakpoint-up(sm) {
            min-height: 230px;
          }
          @include media-breakpoint-up(lg){
            min-height: 250px;
          }
        }
      }
    }
    &.three-per-row {
      .card {
        @include media-breakpoint-up(md) {
          flex: 0 1 48%;
        }
        @include media-breakpoint-up(lg) {
          flex: 0 1 32%;
        }
        .card-image {
          min-height: 200px;
          @include media-breakpoint-up(sm) {
            min-height: 200px;
          }
          @include media-breakpoint-up(md){
            min-height: 200px;
          }
        }
      }
    }
    &.four-per-row {
      .card {
        flex: 0 1 100%;
        @include media-breakpoint-up(md) {
          flex: 0 1 48%;
        }
        @include media-breakpoint-up(lg) {
          flex: 0 1 23%;
        }
        .card-image {
          min-height: 200px;
          @include media-breakpoint-up(lg){
            min-height: 150px;
          }
        }
      }
    }
  }

  // PDF embed (resume(
  embed {
    height: 100%;
    min-height: 700px;
    @include media-breakpoint-up(sm) {
      height: 850px;
    }
    @include media-breakpoint-up(md) {
      height: 950px;
    }
    @include media-breakpoint-up(lg) {
      height: 1150px;
    }
  }
}