.site-logo {
  position: relative;
  z-index: 100;
  .logo-link {
    color: $white;
    font-family: $head_font;
    font-size: .9rem;
    position: relative;
    transition: .3s;
    svg {
      max-height: 80px;
      transition: fill .3s ease-in-out;
      width: 75px;
      .left-bracket,
      .right-bracket,
      .letter-c,
      .letter-h{
        fill: $white;
        transition: fill 0.3s ease-in-out;
      }
    }
    &:hover {
      color: $lightblue;
      transition: .3s;
      text-decoration: none;
      svg {
        .letter-c,
        .letter-h {
          fill: $lightblue;
          transition: fill 0.3s ease-in-out;
        }
      }
    }
    .site-title {
      position: relative;
      top: 6px;
      .title {
        text-transform: uppercase;
      }
      @media all and (max-width: 350px) {
        display: none;
      }
    }
  }
}
header {
  &.open {
    .site-logo {
      .logo-link {
        color: $black;
        svg {
          .left-bracket,
          .right-bracket {
            fill: $black;
            transition: fill 0.3s ease-in-out;
          }
          .letter-c,
          .letter-h {
            fill: $black;
            transition: fill 0.3s ease-in-out;
          }
        }
        &:hover {
          color: $lightblue;
          transition: .3s;
          svg {
            .letter-c,
            .letter-h {
              fill: $lightblue;
              transition: fill 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}