// Sticky mobile sidebar
.sidebar-mobile {
  align-items: center;
  background-color: rgba(238,238,238,1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  display: flex;
  height: auto;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 1;
  .sidebar-image {
    align-self: flex-start;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
  }
  .sidebar-content {
    display: flex;
    flex: 1 1 auto;
    padding-left: 1.5rem;
    position: relative;
    select {
      -webkit-appearance: none; /* For Chrome, Safari, etc. */
      -moz-appearance: none;    /* For Firefox */
      appearance: none;         /* Standard */
      background-color: rgba(238,238,238,.15);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
      width: 100%;
    }
    &:after {
      content: '';
      display: block;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      bottom: 18px;
      height: 10px;
      transform: rotate(45deg);
      position: absolute;
      right: 14px;
      width: 10px;
      z-index: -2;
    }
  }
}

// Component main styles
.component.component-about {
  position: relative;
  top: 108px;
  @include media-breakpoint-up(sm) {
    top: unset;
  }
  h1, h2, h3 {
    margin: 0;
    padding: 1rem 0;
  }
  p {
    padding: 1rem 0;
  }
  .sidebar {
    background-color: unset;
    box-shadow: none;
    display: block;
    height: 100%;
    padding: 0 2.5rem 0 0;
    position: sticky;
    top: 190px;
    .sidebar-image {
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px;
      margin-bottom: 1.5rem;
      img {
        border-radius: 8px;
        opacity: 1;
        transition: opacity 0s ease-in-out, visibility 0s 0s;
        visibility: visible;
      }
      &:hover {
        img {
          opacity: 0;
          transition: opacity 0s ease-in-out, visibility 0s;
          visibility: hidden;
        }
      }
    }
    .sidebar-content {
      flex: 1 1 100%;
      padding-left: 0;
      .sidebar-menu {
        background-color: rgba(238,238,238,.5);
        border-radius: 8px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        width: 100%;
        a {
          color: $black;
          font-size: 1rem;
          line-height: 1.1;
          padding-bottom: .5rem;
          text-decoration: none;
          transition: .3s;
          &.active {
            color: $lightblue;
            font-weight: $bold;
            text-decoration: none;
            transition: .3s;
          }
          &:hover {
            color: $lightblue;
            transition: .3s;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
      .sidebar-links {
        p {
          padding: 0 0 1rem 0;
        }
      }
    }
    select {
      display: flex;
      width: 100%;
    }
  }

  .about-content {
    .icon-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1.5rem 0 0 0;
      @include media-breakpoint-up(md) {
        //width: 80%;
      }
      .icon {
        img {
          width: 40px;
        }
        p.caption {
          display: none;
          font-size: .85rem;
        }
        @media all and (min-width: 450px) {
          img {
            width: 60px;
          }
        }
        @include media-breakpoint-up(sm) {
          img {
            width: 50px;
          }
          p.caption {
            display: block;
            padding: .75rem 0 0 0;
          }
        }
        @include media-breakpoint-up(md) {
          img {
            width: 70px;
          }
        }
        @include media-breakpoint-up(lg) {
          img {
            width: 80px;
          }
          p.caption {
            display: block;
            font-size: 1rem;
          }
        }
      }
    }
  }
}