.component-cards {
  .card-deck {

    &.graphic {
      &.four-per-row {
        .card {
          flex: 0 1 48%;
          @include media-breakpoint-up(lg) {
            flex: 0 1 23%;
          }
          .card-image {
            min-height: 200px;
            @include media-breakpoint-up(lg){
              min-height: 150px;
            }
          }
          .card-graphic {
            min-height: 200px;
          }
        }
      }
    }

    .card {
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      border-top-right-radius: .5rem;
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: .4s;

      &.graphic {
        box-shadow: none;
      }

      // Card link slide appears on hover (sm+)
      a.card-link {
        color: $black;
        transition: .3s;
        .card-content {
          padding-top: .75rem;
          padding-bottom: 1rem;
          transition: .4s;
          .card-title {
            color: $black;
            font-size: 1.15rem;
            font-weight: $bold;
            transition: .3s;
          }
          .card-subtitle {
            color: $black;
            font-weight: $regular;
            transition: .3s;
          }
        }
        &:hover {
          text-decoration: none;
          .card-title {
            color: $lightblue;
            transition: .3s;
          }
          .card-subtitle {
            color: $lightblue;
            transition: .3s;
          }
        }
        @include media-breakpoint-up(sm) {
          background-image: url('../../assets/img/header-texture.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: .5rem;
          height: 100%;
          opacity: 0;
          position: absolute;
          text-decoration: none;
          top: 0;
          transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
          width: 100%;
          visibility: hidden;
          .card-content {
            .card-title {
              color: $white;
              font-size: 1.15rem;
              font-weight: $bold;
            }
            .card-subtitle {
              color: $white;
              font-weight: $regular;
            }
          }
        }
      }
      .card-image {
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
        @include media-breakpoint-up(sm) {
          border-radius: .5rem;
        }
      }
      .card-graphic {
        img {
          width: 100%;
        }
      }
      &:hover {
        .card-link {
          opacity: 1;
          transition: opacity 0.3s ease-in-out, visibility 0s;
          visibility: visible;
        }
      }
    }
  }
}