.component.component-data-card {
  .col-md-4 {
    padding-right: 0;
    @include media-breakpoint-up(sm) {
      padding-right: 2rem;
    }
  }
  .projects-sidebar {
    background-color: rgba(238,238,238,.5);
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    @include media-breakpoint-up(sm) {
      //height: 100%;
      margin-top: 0;
    }
    img {
      max-width: 200px;
      width: 100%
    }
    .credentials {
      .icon {
        align-items: center;
        display: flex;
        position: relative;
        &:before {
          content: '';
          display: flex;
          margin-right: .35rem;
          height: 14px;
          width: 14px;
        }
      }
      .title {
        &:before {
          background-image: url("../img/icon-person.svg");
        }
      }
      .years {
        &:before {
          background-image: url("../img/icon-calendar.svg");
        }
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .role-info {

      }
      .component-highlights {
        .highlights {
          background-color: transparent;
          border-radius: unset;
          box-shadow: unset;
          ul {
            font-size: 1rem;
            li {
              .arrow {
                border-top: 2px solid $lightblue;
                border-right: 2px solid $lightblue;
                top: 6px;
              }
            }
          }
        }
      }
    }
    .about {
      align-items: flex-start;
      border-top: 1px solid $lightblue;
      display: flex;
      //flex: 1 1 auto;
      font-style: italic;
      padding-top: 1.5rem;
    }
  }
  .component-cards {
    .cards-title {
      padding-bottom: 2rem;
    }
    .card-deck {
      gap: 2rem;
      .card {
        margin-bottom: 0;
        .card-image {
          @include media-breakpoint-up(sm) {
            min-height: 200px;
          }
          @include media-breakpoint-up(md) {
            min-height: 340px;
          }
        }
      }
    }
  }
}