.component.component-data-card {
  .col-md-4 {
    padding-right: 0;
    @include media-breakpoint-up(sm) {
      padding-right: 2rem;
    }
  }
  .projects-sidebar {
    background-color: rgba(238,238,238,.75);
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    @include media-breakpoint-up(sm) {
      height: 100%;
      margin-top: 0;
    }
    img {
      max-width: 200px;
      width: 100%
    }
    .credentials {
      .icon {
        align-items: center;
        display: flex;
        position: relative;
        &:before {
          content: '';
          display: flex;
          margin-right: .35rem;
          height: 14px;
          width: 14px;
        }
      }
      .title {
        &:before {
          background-image: url("../img/icon-person.svg");
        }
      }
      .years {
        &:before {
          background-image: url("../img/icon-calendar.svg");
        }
      }
    }
    .details {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-between;
      .role-info {

      }
      .about {
        font-style: italic;
      }
    }
  }
  .component-cards {
    .cards-title {
      padding-bottom: 2rem;
    }
    .card-deck {
      gap: 2rem;
      .card {
        margin-bottom: 0;
        .card-image {
          @include media-breakpoint-up(sm) {
            min-height: 200px;
          }
          @include media-breakpoint-up(md) {
            min-height: 340px;
          }
        }
      }
    }
  }
}