html,
body {
  font-family: $body_font;
}

// Headers
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $head_font;
  font-weight: $light;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-size: 2rem;
  @include media-breakpoint-up(md) {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg){
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: 1.75rem;
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
  @include media-breakpoint-up(lg){
    font-size: 2.25rem;
  }
}

h3, .h3 {
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }
}

// Paragraphs
p, .p {
  color: $black;
  font-family: $body_font;
  font-size: 1.25rem; // 20px
  line-height: 1.35;
  margin: 0;
}

// Lists
ul, ol {
  color: $black;
  font-family: $body_font;
  font-size: 1.25rem; // 20px
  line-height: 1.35;
  list-style: none;
  padding: 1rem 0 1rem 1.5rem;
  margin: 0;
  li {
    color: $black;
    font-family: $body_font;
    position: relative;
    &:before {
      background: $lightblue;
      content: '';
      height: 7px;
      left: -20px;
      position: absolute;
      top: 11px;
      width: 7px;
    }
  }
}

a {
  color: $black;
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: $lightblue;
    text-decoration: none;
    transition: .3s;
  }
}

.caption p {
  font-size: 1rem;
  margin: 0;
}