html {
  margin: 0 !important;
  height: 100%;
  body {
    height: 100%;
    main {
      background-image: url('../../assets/img/header-texture.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(238,238,238,.35);
      background-blend-mode: lighten;
      padding-top: 115px;
      width: 100%;
    }
    // logged in
    &.customize-support {
      position: relative;
      @media all and (min-width: 600px) {
        top: 46px;
      }
      @media all and (min-width: 782px) {
        top: 32px;
      }
    }
  }
}