header {
  background-image: url('../../assets/img/header-texture.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 115px;
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 10;

  // Helper classes
  .nav-active {
    opacity: 1 !important;
    transition: .3s;
    visibility: visible !important;
  }
  .nav-disabled {
    opacity: 0 !important;
    transition: .3s;
    visibility: hidden !important;
  }
  .shown {
    display: block;
  }
  .hidden {
    opacity: 0;
    transition: .2s;
    visibility: hidden;
  }

  .component.component-header {
    padding-bottom: 0;
    padding-top: 0;
    max-width: $xl;
    nav {

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-size: 1.25rem;
          margin: 0 1rem;
          &:last-child {
            margin: 0 0 0 1rem;
          }
          &:before {
            content: none;
          }
          a {
            color: $black;
            text-decoration: none;
            transition: .3s;
            &:hover {
              color: $lightblue;
              text-decoration: none;
              transition: .3s;
            }
            @include media-breakpoint-up(md) {
              color: $white;
            }
          }
        }
      }

      // mobile nav
      &.mobile-menu {
        background-color: $white;
        height: 100vh;
        left: 0;
        opacity: 1;
        padding: 0;
        position: absolute;
        top: 0;
        transition: .4s;
        visibility: visible;
        width: 100%;
        .menu-main-menu-container {
          background-color: $white;
          height: 100%;
          padding-top: 115px; // header height
          position: relative;
          width: 100%;
          z-index: 10;
          ul {
            list-style: none;
            text-align: center;
            li {
              font-family: $head_font;
              font-size: 2rem;
              margin: 0 0 1rem 0;
              transition: .3s;
              width: 100%;
            }
          }
        }
      }

      // desktop nav
      @include media-breakpoint-up(md) {
        .desktop-menu {
          ul {
            li {
              &:last-child {
                margin: 0 0 0 1rem;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-image: url('../../assets/img/header-texture.png');
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  .footer-cta {
    background-color: $lightblue;
    color: $white;
    transition: .3s;
    a {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      background-color: lighten($lightblue, 10%);
      cursor: pointer;
      transition: .3s;
    }
  }
  .socials {
    .social-icons {
      padding-top: 6rem;
      img {
        width: 40px;
        margin: 0 1rem;
      }
    }
  }
  .copyright {
    margin: 0 auto;
    max-width: 600px;
    p {
      color: $gray;
      line-height: 1.2;
      font-size: .85rem;
      font-style: italic;
    }
  }
}
