/*********************
 Grid and breakpoints
 *********************/

$grid-breakpoints: (
    xs  : 0,
    sm  : 576px,
    md  : 768px,
    lg  : 992px,
    xl  : 1200px,
    xxl : 1700px
);

$sm  : 576px;
$md  : 768px;
$lg  : 992px;
$xl  : 1200px;
$xxl : 1700px;

// Sizing classes
$sizes: () !default;
$sizes: map-merge(
    (
            25   : 25%,
            50   : 50%,
            75   : 75%,
            100  : 100%,
            auto : auto
    ),
    $sizes
);

// Colors
$transparent : transparent;
$white       : #ffffff;
$black       : #000000;
$gray        : #eeeeee;
$lightblue   : #269af9;
$darkblue    : #081c5d;

// Fonts
$body_font : "Source Sans Pro", sans-serif;
$head_font : "Oxygen", sans-serif;

// Font weights
$light    : 300;
$regular  : 400;
$medium   : 500;
$semibold : 600;
$bold     : 700;

// Color map
$colors: (
    "white"     : $white,
    "black"     : $black,
    "lightblue" : $lightblue,
    "darkblue"  : $darkblue,
    "gray"      : $gray,
);

