// Import reboot styles
@import 'base/reboot';

// Define variables, import functions and mixins
@import 'variables';

// Import AOS (animations)
@import '../../node_modules/aos/src/sass/aos.scss';

// Import Bootstrap and mixins
@import 'base/bootstrap';
//@import 'base/colors';
@import 'base/mixins';
@import 'base/typography';
@import 'base/padding-margins';

// Home styles, bro
@import 'base/home';

// Sections
@import 'sections/main';
@import 'sections/navigation';

// Components
@import 'components/components';
@import 'components/site-logo';
@import 'components/hamburger-nav';

// Page builder
@import 'components/page-builder/about';
@import 'components/page-builder/cards';
@import 'components/page-builder/data-card';
@import 'components/page-builder/highlights';
@import 'components/page-builder/wysiwyg';
@import 'components/page-builder/testimonials';
@import 'components/page-builder/images';

// Overrides
@import 'components/forms';